*{
    padding: 0px;
    margin: 0px;
}
.divs{
    width: 1280px;
    height: 50px;
    position: fixed;
    background-color: white ;
}   
li{
    display: inline;
    padding-right: 10px;
    font-size: 15px;
    
    
}
.div1{
    margin-top: -45px;
    text-align: right;  
    padding-top: 8px; 
  
}
.imgt{
    padding-left: 20px;
    padding-top: 10px;
    
}
.bg{
    background-image: url(/img/WhatsApp\ Image\ 2023-11-02\ at\ 08.27.58\ \(1\).jpeg); 
    width: 1350px;  
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
}
.tx{
    font-size: 25px;
    padding-left: 160px;
    padding-top: 280px;
}
.sty{
    background-image: url(/img/WhatsApp\ Image\ 2023-11-06\ at\ 09.13.57.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 20px;
    padding-left: 30px;
    padding-top: 6px;
}
.set{
    padding-top: 10px;
    border: 1px solid gray;
    height: 190px;
    width: 155px;
    margin-left: 45px;
}
.input1{
    width:100px;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: rgb(234, 174, 225);
    padding: 5px;
    font-weight: 700;
    color: darkcyan;
    font-size: small;
}
.flex{
    display: flex;
    flex-direction: row;
    margin-left: 45px;
}
.set1{
    border: 1px solid rgb(198, 196, 196);
    padding: 10px;
    border-radius: 15px;
    height: 400px;
    width: 270px;
    margin-left: 50px;
}
.flex1{
    display: flex;
    flex-direction: row;
}
#bu{
    padding-left: 180px;   
}
.more{
    padding-top: 100px;
}
.tu{
    display: flex;
    flex-direction: row;
}
.yellow{
    background-image: url(/img/31.jpeg);
    height: 800px;
    width: 600px;
    background-repeat: no-repeat;
    margin-left: 50px;
    
}
.yellow1{
    color: white;
    padding-top: 120px;
    padding-left: 30px;
}
.grey{
    background-image: url(/img/32.jpeg);
    height: 1000px;
    width: 600px;
    background-repeat: no-repeat;
    margin-left: 700px;
    margin-top: -790px;
    
}
.grey1{
    color: white;
    padding-top: 120px;
    padding-left: 30px;
}
.bgm{
    display: flex;
    flex-direction: row;
    margin-top: -630px;
}
.sea{
    margin-top: 30px;
}
.box{
    background-image: url(/img/bg11.jpeg);
    height: 160px;
    width: 1350px;
    margin-top: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}
.email{
    margin-left: 840px;
    width: 300px;
    
}
.box1{
    margin-top: -40px;
}
.footer{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}


